<form ng-submit="saveContact()" class="form-inline contact-form" role="form">
  <div class="form-group">
      <input ng-model="newContact.name" type="text" class="form-control" id="contactName" placeholder="Namn">
    </div>
  </div>
  <div class="form-group">
    <input ng-model="newContact.phone"type="text" class="form-control" id="phoneNumber" placeholder="Telefonnummer">
  </div>
    <div class="form-group">
    <input ng-model="newContact.address" type="text" class="form-control" id="address" placeholder="Adress">
  </div>
  <button type="submit" class="btn btn-primary">Lägg till</button>
</form>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Namn</th>
			<th>Telefonnummer</th>
			<th>Adress</th>
			<th>Alternativ</th>	
		</tr>	
	</thead>
	<!-- iterates over all the contacts from the contacts array -->
	<tr ng-repeat="contact in contacts | orderByPriority">
		<td>
			<div><strong>{{contact.name}}</strong></div>
		</td>
		<td>
			<div>{{contact.phone}}</div>
		</td>
		<td>
			<div><em>{{contact.address}}<em></div>
		</td>
		<td>
			<button ng-click="deleteContact(contact.$id)" type="submit" class="btn btn-danger">Radera</button>				
		</td>	
	</tr>
</table>

